hr{
    margin: 0;
    width: 100%;
}
#heading{
    text-align: center;
    font-weight: bold;
}
.main{
    background-color: lightgray;
    min-height: 1000px;
    height: auto;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.nav-item a{
    color: black !important;
}
.abc{
    border: 2px solid black;
}